<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лаба 12</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div id="stud">

        <h1>Список студентов</h1>
        <p>Составление списка студентов</p>
        <h2>Форма</h2>
        <div class="form">
            <form>
                <label for="surname">Фамилия</label>
                <input type="text" id="surname" v-model="Surname" v-on:input="surname"></label>
                <label for="name">Имя</label>
                <input type="text" id="name" v-model="Name" v-on:input="name">
            </form>
            <p>Количество знаков: {{ count }}</p>
            <button type="button" v-on:click="newStudent" v-bind:class="{ active: filled}">Записать</button>
        </div>
        <h2>Список</h2>
        <p v-if="clear">Список пуст</p>
        <div>
            <ul>
                <li v-for="student in students">{{ student }}<hr></li>
            </ul>
        </div>
    </div>
    <div class="fon"></div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.5"></script>
    <script src="main.js"></script>
</body>
</html>